@import "tailwindcss";

/* HILANGKAN TOOLBAR GOOGLE TRANSLATE */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
.goog-te-menu-value,
.goog-te-gadget {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Kadang Google nambah margin-top ke body */
body > .skiptranslate {
  display: none !important;
}

html {
  scroll-padding-top: 0 !important;
}